.popUp__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  font-size: 2rem;
  color: #2B2B2B;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.27);
  height: 40px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.popUp__close {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(cross.svg) center center no-repeat, white;
  background-size: 50%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.27);
  cursor: pointer;
}

.popUp__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: auto;
  padding-bottom: 10px;
}

.popUp__location {
  flex: 0 0 auto;
  height: 240px;
  width: 140px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin-right: 40px;
  cursor: pointer;
}

.popUp__elements .popUp__location:last-child {
  margin: 0;
}

.closedLocation {
  cursor: auto;
}

@media (min-width: 1000px) {
  .popUp {
    width: 800px;
  }

  .popUp__header {
    margin-bottom: 40px;
  }

  .popUp__title {
    width: 240px;
    height: 60px;
    font-size: 2.8rem;
  }

  .popUp__close {
    width: 60px;
    height: 60px;
  }

  .popUp__location {
    width: 240px;
    height: 380px;
  }
}
.shop__cart__item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  flex: 0 0 auto;
  margin-bottom: 15px;
}

.empty__item, .shop__cart__item {
  width: 108px;
  height: 170px;
}

.shop__cart__name {
  margin: 10px 0 5px 0;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #2A87FF;
}

.shop__cart__item_1, .shop__cart__item_2, .shop__cart__item_3, .shop__cart__item_4, .shop__cart__item_5 {
  position: relative;
  width: auto;
  height: 64px;
  flex: 1 0;
}

.shop__cart__item_1 {
  background: url("item__1.svg") center center no-repeat;
  background-size: contain;
}

.shop__cart__item_2 {
  background: url("item__2.svg") center center no-repeat;
  background-size: contain;
}

.shop__cart__item_3 {
  background: url("item__3.svg") center center no-repeat;
  background-size: contain;
}

.shop__cart__item_4 {
  background: url("item__4.svg") center center no-repeat;
  background-size: contain;
}

.shop__cart__item_5 {
  background: url("item__5.svg") center center no-repeat;
  background-size: contain;
}

.shop__cart__card .svgIcon {
  top: auto;
  bottom: 0;
  transform: translate(-50%, 0);
  width: auto;
  height: 64px;
}

.cart__item_tip {
  position: absolute;
  top: 80%;
  right: 25%;
  bottom: auto;
  font-size: 1.2rem;
  padding: 0 6px;
}

.shop__cart__free {
  font-size: 1.4rem !important;
  line-height: 1.4rem !important;
}

.shop__cart__advert {
  width: 19px;
  height: 18px;
  background: url(advert.svg) center center no-repeat;
  background-size: 100%;
  margin-right: 3px;
}

.shop__cart__buy-button {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 29px;
  background: linear-gradient(264.82deg, #3A9DF8 2.88%, #33E0F8 96.18%);
  border-radius: 100px;
  box-shadow: 0 3px 0 #237EE9;
  margin: 5px auto;
}

.shop__cart__buy-button:active {
  transform: scale(0.98);
}

.cart__item_tip {
  top: 83%;
}

@media (max-height: 350px) {
  .shop__cart {
    height: 205px;
  }
}
@media (orientation: portrait) {
  .shop__cart__item {
    flex: 0 0 auto;
  }

  .popUp__elements .shop__cart__item:last-child {
    margin-right: 0;
  }
}
@media (max-width: 330px) and (orientation: portrait) {
  .shop__cart__item, .empty__item {
    width: 95.04px;
    height: 149.6px;
  }

  .shop__cart__buy-button {
    width: 84.48px;
    height: 25.52px;
  }

  .shop__cart__name {
    font-size: 1.33rem;
    line-height: 1.33rem;
  }

  .shop__tipsCount {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .shop__tipsCount_advert {
    font-size: 1rem;
    line-height: 1rem;
  }

  .shop__name_advert {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .shop__cart__item_1, .shop__cart__item_2, .shop__cart__item_3, .shop__cart__item_4, .shop__cart__item_5,
.shop__cart__card .svgIcon {
    height: 56px;
  }

  .noAdvert {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 380px) and (orientation: portrait) {
  .shop__cart__item, .empty__item {
    width: 118.8px;
    height: 187px;
  }

  .shop__cart__buy-button {
    width: 105.6px;
    height: 31.9px;
  }

  .shop__cart__name {
    font-size: 1.43rem;
    line-height: 1.43rem;
  }

  .shop__tipsCount {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  .shop__tipsCount_advert {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }

  .shop__cart__item_1, .shop__cart__item_2, .shop__cart__item_3, .shop__cart__item_4, .shop__cart__item_5,
.shop__cart__card .svgIcon {
    height: 70px;
  }

  .noAdvert {
    width: 76px;
    height: 76px;
  }
}
@media (min-width: 1000px) {
  .shop__tipsCount {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
}
@media (orientation: landscape) {
  .shopPopUp .popUp__elements {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .shop__cart__item {
    margin-right: 10px;
  }

  .shop__cart__last {
    margin: 0;
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  .empty__item, .shop__cart__item {
    width: 162px;
    height: 255px;
  }

  .shop__cart__item_1, .shop__cart__item_2, .shop__cart__item_3, .shop__cart__item_4, .shop__cart__item_5,
.shop__cart__card .svgIcon {
    height: 96px;
  }

  .noAdvert {
    width: 104px;
    height: 104px;
  }

  .shop__cart__name {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin: 15px 0 8px 0;
  }

  .shop__cart__buy-button {
    width: 144px;
    height: 43.5px;
    font-size: 2.1rem;
  }

  .shop__tipsCount_advert {
    font-size: 1.9rem;
    line-height: 1.9rem;
  }

  .shop__name_advert {
    margin: 15px 0 0 0;
  }

  .shopPopUp {
    width: 520px !important;
  }

  .shopPopUp .popUp__elements {
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  .shop__cart__item {
    margin-right: 0;
  }

  .shop__cart__last {
    margin: 0;
  }
}
@media (orientation: landscape) and (min-width: 1000px) and (max-height: 670px) {
  .shopPopUp {
    width: 850px !important;
  }

  .shopPopUp .popUp__elements {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .shop__cart__item {
    margin-right: 10px;
  }

  .shop__cart__last {
    margin: 0;
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  .shop {
    width: 520px !important;
  }
}

/*# sourceMappingURL=shop.css.map */
