@import "../../../root";

.keyboard__line{
  width: 100%;

  display: flex;
  justify-content: space-around;

  padding: 0 8px;
  margin-bottom: 5px;
}
$letterHeight: 41px;
$letterBorderRadius: 4px;
.keyboard__letter{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: $letterHeight;

  border-radius: $letterBorderRadius;

  background-color: white;

  //color: $mainDarkColor;
  color: #755394;
  font-size: 2.4rem;
  margin-right: 5px;

  cursor: pointer;
}
.keyboard__line .keyboard__letter:last-child{
  margin-right: 0;
}

.keyboard__letterTip{
  position: absolute;
  bottom: 0;

  height: $letterHeight*2;

  text-align: center;

  border-radius: $letterBorderRadius*2;
  font-size: 3rem;

  display: none;

  border: 1.5px solid #755394;
}
.keyboard__letter_selected .keyboard__letterTip{
  display: block;
}

.crossword__letter_selected{
  border: 2px solid white;
}
.keyboard__deleteButton{
  background: url(delete.png) 40% center no-repeat white;
  background-size: 75%;
  border-radius: 8px;
}