.leaderBoard {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 8px 8px 8px;
  width: 520px;
  font-size: 1.4rem;
  color: #302431;
  border-radius: 20px;
  background-color: #fff;
  z-index: 12;
  height: 80%;
  max-height: 600px;
}

.rules__cross {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-30%);
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.rules__cross .svgIcon {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #1677C1;
}

.rules__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  height: 40px;
  font-size: 2.2rem;
  line-height: 2.2em;
  text-align: center;
  background-color: #1677C1;
  color: #fff;
  margin: 0;
  border-radius: 25px;
  width: 220px;
  transform: translate(-50%, -30%);
}

.ratingLoading {
  text-align: center;
  font-size: 2rem;
}

.leaderBoardInfo {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0;
  overflow-y: auto;
  font-size: 1.5rem;
}

.leaderBoardInfo .settings__text {
  text-align: center;
  font-size: 2rem !important;
}

.lastRang {
  margin-bottom: 80px !important;
}

.leaderBoardInfo__firstBlock {
  display: flex;
  width: 70%;
  max-width: 70%;
}

.leaderBoardInfo__playerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  color: #000000;
  font-size: 1.7rem;
  font-weight: bold;
  height: 100%;
  border-bottom: 1px solid #EFEFEF;
}

@media (orientation: portrait) {
  .leaderBoardInfo__playerInfo {
    width: 97%;
  }
}
.leaderBoardInfo__player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-bottom: 10px;
}

.leaderBoardInfo__image {
  width: 50px;
  height: 50px;
  border: 1px solid #B8B8B8;
  border-radius: 50%;
  background-size: cover !important;
  flex: 0 0 50px;
}

.leaderBoardInfo__rank, .leaderBoardInfo__rankInner {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #FFFFFF;
  font-weight: bold;
  margin-right: 8px;
}

.leaderBoardInfo__rankInner {
  width: 34px;
  height: 34px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: #BCBCBC;
}

.leaderBoardInfo_1 .leaderBoardInfo__rank {
  background-color: #FEE476;
  border: 1px solid #FEDA42;
}

.leaderBoardInfo_1 .leaderBoardInfo__rankInner {
  background-color: #FFAC44;
  border: 1px solid #FF9C20;
  color: #FEE476;
}

.leaderBoardInfo_2 .leaderBoardInfo__rank {
  background-color: #D0DCDE;
  border: 1px solid #C1CECD;
}

.leaderBoardInfo_2 .leaderBoardInfo__rankInner {
  background-color: #9DA5A5;
  border: 1px solid #91A1A1;
  color: #D0DCDE;
}

.leaderBoardInfo_3 .leaderBoardInfo__rank {
  background-color: #FC9634;
  border: 1px solid #F48922;
}

.leaderBoardInfo_3 .leaderBoardInfo__rankInner {
  background-color: #CD702D;
  border: 1px solid #C56A20;
  color: #FFB268;
}

.leaderBoardInfo_1 .leaderBoardInfo__rankInner,
.leaderBoardInfo_2 .leaderBoardInfo__rankInner,
.leaderBoardInfo_3 .leaderBoardInfo__rankInner {
  font-size: 2rem;
}

.rules_lb .leaderBoardInfo_mine {
  background-color: #F1EFF9;
}

.leaderBoardInfo__score {
  color: #646464;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  margin: 2px 0 0 0;
}

.leaderBoardInfo_big, .leaderBoardInfo_big .leaderBoardInfo__rankInner {
  width: 67px;
  border-radius: 100px;
}

.leaderBoardInfo__rankInner_bigRank {
  font-size: 1.45rem;
}

.leaderBoardInfo__name {
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: black;
  width: 100%;
}

.leaderBoardInfo__nameAndScore {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start;
  margin-left: 10px;
  flex: 1 1 50%;
  width: 50%;
}

@media (orientation: portrait) {
  .leaderBoard {
    max-width: 99%;
    min-width: auto;
  }
}

/*# sourceMappingURL=leaderBoardWindow.css.map */
