@import '../../root';

.tips{
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-right: 10px;
  font-family: 'Inter', sans-serif;
}

.tip1{
  background: url(tip1.svg) center center no-repeat, white;
}
.tip2{
  background: url(tip2.svg) center center no-repeat, white;
}
.tip3{
  background: url(tip3.svg) center center no-repeat, white;
}
.tip4{
  background: url(tip4.svg) center center no-repeat, white;
}


.tip{
  position: relative;

  width: 50px;
  height: 50px;

  cursor: pointer;

  border-radius: 50%;
  margin-bottom: 10px;
}

.tip__cost{
  position: absolute;

  bottom: -10px;
  left: 0;

  width: 100%;
  height: 20px;
  border-radius: 10px;

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;


  color: #051225;
  font-size: 1.5rem;

}
.tip__costImage{
  width: 12px;
  height: 14px;
  background: url(../../assets/images/money.svg) center center no-repeat;
  background-size: 100%;
  margin-left: 3px;
}
@media (min-width: 600px) {
  .tips{
    width: 600px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-height: 600px) and (min-width: 600px) {
  .tips{
      height: 90px;
  }
  .tip{
    width: 65px;
    height: 65px;
    background-size: 50%;
  }
  .tip1{
    background-size: 45%;
  }
  .tip4{
    background-size: 30%;
  }
  .tip__cost{
    height: 25px;
    bottom: -15px;
    font-size: 2rem;
  }
  .tip__costImage{
    width: 18px;
    height: 21px;
  }
}