@import '../../root';

.menu{
  display: block;

  margin-left: 10px;

  background: url(menu.svg) center center no-repeat;
  background-size: 100%;
}

.menu__endGame{
  background: url(menuEndGame.svg) center center no-repeat ;
  background-size: 100%;
}