@import '../../root';

.menu{
  display: block;

  position: relative;

  width: 35px;
  height: 35px;

  margin-left: 10px;

  background: url(menu.png) center center no-repeat;
  background-size: 100%;

  cursor: pointer;
}
.menu:before {
  position: absolute;
  content: "";
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: -10px;
}
.menu:active{
  transform: scale(0.97);
}

.menu__endGame{
  background: url(menuEndGame.png) center center no-repeat ;
  background-size: 100%;
}