@import "root";



@font-face {
  font-family: 'Ubuntu';
  src: url("assets/Ubuntu-Light.ttf");

  font-weight: normal;
  font-variant: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("assets/Inter-Medium.ttf");

  font-weight: normal;
  font-variant: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('assets/Inter-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('assets/Inter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('assets/Inter-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
html, body, .homeID {
  position: relative;

  width: 100%;
  height: 100%;
  font: 10px/1.5 'Ubuntu', sans-serif;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.homeID, .mainPage, .gamePage{
  background: url(assets/images/background.png) center center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.homeIDblackout{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.2);
}

// Анимация перехода между главной страницей и игрой
.transGroup{
  width: 100%;
  height: 100%;
}

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-in-out;
}

.slide-exit, .slide-enter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}
.slide-exit-active {
  transform: translateX(100%);
}

.transGroupMenu .slide-exit-active{
  transform: translateX(-100%);
}

.popUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  z-index: 12;
  max-width: 95%;
}

.popUp__header {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: transparent;
  box-shadow: none;
}

.innerBlackout{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}
.icon{
  width: 40px;
  height: 40px;

  cursor: pointer;
  position: relative;

  border-radius: 50%;

  background: #FFFFFF;
}
.icon:before {
  position: absolute;
  content: "";
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: -10px;
}
::-webkit-scrollbar-button {
  background-repeat:no-repeat;
  width:6px;
  height:0;
}

::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,0.37);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
    background-color: #FFFFFF;
}

::-webkit-resizer{
  background-repeat:no-repeat;
  width: 5px;
  height: 0;
}

::-webkit-scrollbar{
  width: 5px;
  height: 13px;
}


@media (min-width: 600px) {
  .slide-enter,
  .slide-exit {
    transition: opacity 1000ms ease-in-out;
  }
  .slide-exit, .slide-enter {
    opacity: 1;
  }
  .slide-exit-active {
    opacity: 0;
  }

  .transGroupMenu .slide-exit-active{
    transform: none;
  }


  .icon{
    width: 55px;
    height: 55px;
  }
  .icon:before {
    top: -20px;
    right: -20px;
    left: -20px;
    bottom: -20px;
  }
  ::-webkit-resizer{
    width: 10px;
  }

  ::-webkit-scrollbar{
    width: 10px;
  }
}

@media (min-width: 600px) {
  .homeID, .mainPage, .gamePage{
    background: url(assets/images/bg2.png) center center no-repeat;
    background-size: cover;
  }
}
