@import '../../root';

.crossword-wrapper{
  flex: 1 1 auto;
  height: 40%;
  width: 98%;

  border-radius: 5px;

  margin: 0 auto;
  padding: 10px 5px;

  box-shadow: 0 0 7px 0 black;
}

.crossword{
  width: 100%;
  height: 100%;



  overflow-y: auto;



}
.crossword__word{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 6px;
}

.crossword__letter{

  font-family: Ubuntu-Light, sans-serif;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: #9b9b9b;

  margin-right: 5px;
  opacity: 0.95;

  cursor: pointer;
}

.crossword__word_selected .crossword__letter{
  color: white;
  background-color: #b170c1;
}

.crossword__word .crossword__letter:last-child{
  margin-right: 0;
}
.crossword__word_selected .crossword__letter_done{
  background-color: #9454a6;
  color: white;
}
.crossword__letter_done{
  color: black;
  cursor: default;
}

.crossword_word_wrong{
  animation: tremor 0.05s ease-in-out infinite;
}

@keyframes tremor {
  0%, 25% {
    transform: translateX(-1%);
  }
  50%, 100% {
    transform: translateX(1%);
  }
}
.crossword__word_right{
  animation: rightWord 0.6s ease-in-out;
}
@keyframes rightWord {
  0%{
    transform: skewX(0deg);
  }
  100%{
    transform: skewX(180deg);
  }
}
.crossword__letter_new{
  animation: newLetter 1s forwards;
}
@keyframes newLetter {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media (min-width: 600px) {
  .crossword-wrapper{
    width: 600px;
  }
  .crossword{
    overflow-x: hidden;
  }
}